

NET "SWITCHES[0]" LOC = T5;
NET "SWITCHES[1]" LOC = V8;
NET "SWITCHES[2]" LOC = U8;
NET "SWITCHES[3]" LOC = N8;
NET "SWITCHES[4]" LOC = M8;
NET "SWITCHES[5]" LOC = V9;
NET "SWITCHES[6]" LOC = T9;
NET "SWITCHES[7]" LOC = T10;
NET "BUTTONS[0]" LOC = C4;
NET "BUTTONS[1]" LOC = A8;
NET "BUTTONS[2]" LOC = D9;
NET "BUTTONS[3]" LOC = C9;
NET "BUTTONS[4]" LOC = B8;
NET "CLK" LOC = V10;
NET "UART_TX" LOC = N18;
NET "EXTERNAL_CLOCK" LOC = G11;
NET "GPIO_OUTPUT[0]" LOC = H3;
NET "GPIO_OUTPUT[1]" LOC = L7;
NET "GPIO_OUTPUT[2]" LOC = K6;
NET "GPIO_OUTPUT[3]" LOC = G3;
NET "GPIO_OUTPUT[4]" LOC = G1;
NET "GPIO_OUTPUT[5]" LOC = J7;
NET "GPIO_OUTPUT[6]" LOC = J6;
NET "GPIO_OUTPUT[7]" LOC = F2;

# PlanAhead Generated physical constraints 

NET "LED_CONTROL[0]" LOC = U16;
NET "LED_CONTROL[1]" LOC = V16;
NET "LED_CONTROL[2]" LOC = U15;
NET "LED_CONTROL[3]" LOC = V15;
NET "LED_CONTROL[4]" LOC = M11;
NET "LED_CONTROL[5]" LOC = N11;
NET "LED_CONTROL[6]" LOC = R11;
NET "LED_CONTROL[7]" LOC = T11;
